<ion-content fullscreen="true">
  <ion-slides class="slider" pager="true" [options]="slideOpts">
    <ion-slide>
        <div class="background"></div>
        <div class="bg-text">
          <img src="../../assets/GreenCity.png">
            <h1>
                Welcome to <span class="green">GreenBerlin</span>
            </h1>
        </div>
    </ion-slide>
    <ion-slide>
      <div class="background background-2"></div>
      <div class="bg-text bg-text-3">
          <h1>
             Complete challenges and earn ECOins
          </h1>
      </div>
      <div class="bg-text bg-text-1">
          <h1>Spend your ECOins in public institutions or local shops...</h1>
      </div>
      <div class="bg-text bg-text-2">        
        <h1>...or donate your coins for city infrastructure</h1>
      </div>
    </ion-slide>
    <ion-slide>
        <div class="background background-3"></div>
        <div class="bg-text">
            <h1>
               Join us! Let's make the world a better place together.
            </h1>
            <ion-button class="button" expand="block" (click)="login()">Login</ion-button>
        </div>
    </ion-slide>
  </ion-slides>
</ion-content>
