.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-left {
    margin-left: 1rem;
}

.text-center {
    text-align: center;
}

.icon {
    font-size: 3rem;
}

.margin-top {
    margin-top: 2rem;
}

.d-block {
    display: block;
}