.challengeCardGrid {
    display: flex;
    width: 100%;
    align-items: center;
    vertical-align: center;
}

.challengePage {
    display: flex;
    align-items: center;
    vertical-align: center; 
    flex-grow: 1;
    overflow: 'hidden';
}