.coin {
    height: 1.5rem;
    display: inline;
    width: auto;
    margin-right: 4px;
}

.container {
    width: 100%;
    text-align: center;
}

.inline {
    display: inline;
}

.txt-center {
    text-align: center;
}