<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Voting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        Please report Cheaters! If Transaction fails please take first a ride
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>Valid Bike Result?</ion-card-header>
      <div #gmap style="width:100%;height:400px"></div>
      <div>
        <p>Avg. Speed: 15 km/h</p>
        <p>Signature of datasets valid: ✅</p>
      </div>
      <ion-button color="primary" (click)="result(true)">Yes</ion-button>
      <ion-button color="danger" (click)="result(false)">No</ion-button>
    </ion-card>
  </ion-list>
</ion-content>
